# Python venv
venv/
.env/
.venv/

# macOS system files
.DS_Store
*/.DS_Store

# macOS Trash (ignore all files under ~/.Trash)
.Trash/
*/.Trash/
**/.Trash/**
**/.Trash/*

# LAMMPS outputs
*.dump
dump.*
*.log
log.*
*.data
*.out
*.err

# OVITO exports
*.png
*.jpg

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Temporary folders
tmp/
temp/
